/* Reset Code */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* btn Area Start Here */
.btn {
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 21px 40px;
  display: inline-block;
  border-radius: 48px;
}
.btn-pink {
  background-color: #ff42a5;
}
.btn-skyblue {
  background-color: #4de8f4;
}
/* btn Area End Here */
/* Header Area Start Here */
.header-area {
  padding: 30px 0px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header {
  display: grid;
  grid-template-columns: 200px auto;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}
.logo h4 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}
.logo span {
  color: #ff42a5;
}
.nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 32px;
}
.nav ul li {
  display: grid;
  align-items: center;
}
.nav ul li a {
  color: #3c354f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.follow-area-two {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 8px 18px 24px;
}
.follow-area-two .fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
  font-size: 20px;
}
.follow-area-two .fa-youtube {
  font-size: 25px;
}
.fa-youtube {
  color: #f00044;
  margin: 0px 16px 0px 24px;
}
.fa-tiktok {
  color: #000000;
  margin-right: 16px;
}
/* Header Area End Here */
/* Banner Area Start Here */
.banner-area {
  background-repeat: no-repeat;
  background-size: 50%;
}
.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.banner-content h4 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-content h1 {
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content span {
  display: block;
  margin: 17px 0px;
}
.fa-circle-play,
.fa-download {
  color: #f948b2;
  margin-right: 10px;
  font-size: 20px;
}
.fa-user-group {
  color: #fff;
  filter: drop-shadow(1px 1px 2px #111111);
  margin-right: 10px;
}
.banner-img {
  display: flex;
  justify-content: end;
  align-items: center;
}
.banner-img img {
  max-width: 80%;
}
.banner-btn {
  margin-top: 48px;
}
.banner-btn .btn-pink {
  margin-right: 16px;
}
/* Banner Area End Here */
/* About Area Start Here */
.about-area {
  padding: 95px 0px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.about-content {
  text-align: right;
}
.about-content h2 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}
.about-content p {
  width: 520px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 24px 0px 32px 0px;
}
.about-content h4 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
  margin-top: 24px;
}
.about-content h4 span {
  display: block;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
/* About Area End Here */
/* Video Area Start Here */
.video-area {
  padding: 120px 0px;
}
.video-title {
  text-align: center;
}
.video-title h2 {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.video-title h2 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.video-title p {
  margin: 16px 0px 48px 0px;
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.videos {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.single-video {
  width: 100%;
}
.single-video p {
  margin-top: 24px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}
.single-video p span {
  display: block;
}
.video-img {
  position: relative;
}
.hover-video {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s;
}
.hover-video i {
  color: #fff;
  font-size: 40px;
}
.hover-video span {
  text-align: center;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ff42a5;
  opacity: 1;
  margin-top: 12px;
}
.video-img:hover .hover-video {
  opacity: 0.75;
}
/* Video Area End Here */
/* Play Area Start Here */
.play-area {
  padding-bottom: 120px;
}
.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.play-content span {
  display: block;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-content h2 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.play-content p {
  text-align: right;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-top: 24px;
}
.play-img {
  max-width: 45%;
  position: relative;
}
.play-img-over {
  position: absolute;
  bottom: -15%;
  left: -25%;
  max-width: 50%;
}
/* Play Area End Here */
.games-area {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 120px 0px;
}
.game-content-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-game img {
  max-width: 20%;
}
.single-game span {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.game-content-two {
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
