/* Reset Code */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Work Sans', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* Header Area Start Here */
.header-area {
  padding: 30px 0px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}
.logo h4 {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
}
.logo span {
  color: #ff42a5;
}
.nav ul {
  display: flex;
  gap: 32px;
}
.nav ul li {
  display: flex;
  align-items: center;
}
.nav ul li a {
  color: #3c354f;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.follow-area {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 17px 8px 18px 24px;
}
.follow-area .fa-tiktok {
  color: #111111;
  filter: drop-shadow(2px 0px 0px #fd3e3e) drop-shadow(-2px -2px 0px #4de8f4);
  font-size: 20px;
}
.follow-area .fa-youtube {
  font-size: 25px;
}
.fa-youtube {
  color: #f00044;
  margin: 0px 16px 0px 24px;
}
.fa-tiktok {
  color: #000000;
  margin-right: 16px;
}
/* Header Area End Here */
/* Banner Area Start Here */
.banner-area {
  background-repeat: no-repeat;
  background-size: 50%;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content h4 {
  color: #0b0223;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.banner-content h1 {
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-content span {
  display: block;
  margin: 17px 0px;
}
.fa-circle-play,
.fa-download {
  color: #f948b2;
  margin-right: 10px;
  font-size: 20px;
}
.fa-user-group {
  color: #fff;
  filter: drop-shadow(1px 1px 2px #111111);
  margin-right: 10px;
}
.banner-img {
  display: flex;
  justify-content: end;
  align-items: center;
}
.banner-img img {
  max-width: 80%;
}
.banner-content .btn {
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  padding: 21px 40px;
  display: inline-block;
  border-radius: 48px;
  margin-top: 48px;
}
.banner-content .btn-pink {
  background-color: #FF42A5;
}
.banner-content .btn-skyblue {
  background-color: #4de8f4;
}
/* Banner Area End Here */
/* About Area Start Here */
.about-area {
  padding: 95px 0px;
}
.about {
  display: flex;
  justify-content: space-between;
}
.about-content {
  text-align: right;
}
/* About Area Eng Here */
